.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    >ul{
        padding: 1em 0;
    }
    li{
        padding-top: 1em;
    }
}
.picture{
    text-align: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em auto 1em;
    background-color: var(--orange);
}

.link{
    background-color: var(--gray);
    display: flex;
    min-width: 10rem;
    width: fit-content;
    justify-content: center;
    padding: 0.5em 0;
    color: #fff;
    border-radius: 20em;
    border: 1px #fff solid;
    cursor: pointer;
}
.link:hover{
        background-color: rgba(255,255,255,0.5);
        border: 1px solid var(--orange);
    }